/// color||Color|0
$--collapse-border-color: #ecf5ff;
/// height||Other|4
$--collapse-header-height: 40px;
/// color||Color|0
$--collapse-header-background-color: #d9ecff;
/// color||Color|0
$--collapse-header-font-color: #303133;
/// fontSize||Font|1
$--collapse-header-font-size: 13px;
/// color||Color|0
$--collapse-content-background-color: #ecf5ff;
/// fontSize||Font|1
$--collapse-content-font-size: 13px;
/// color||Color|0
$--collapse-content-font-color: #303133;
