@import "../vars";

.xdh-form {
  &--inline {
    .el-form-item, .xdh-form-append {
      display: inline-block;
    }
  }
}

.xdh-form {
  &.el-form--label-top {
    .el-select, .el-input, .el-cascader {
      width: 100%;
    }

    .el-form-item__label {
      padding: 0;
    }
  }

  &.is-inline-size {
    .el-select, .el-input, .el-cascader {
      width: 100%;
    }
  }

  &.is-inline-medium {
    > .xdh-form-item {
      width: 500px;
    }
  }

  &.is-inline-small {
    > .xdh-form-item {
      width: 300px;
    }
  }

  &.is-inline-large {
    > .xdh-form-item {
      width: 600px;
    }
  }

  &__footer {
    margin-bottom: 0;

    &.is-border {
      border-top: 1px solid $--border-color-light;
      padding: 10px 0;
    }

    &.is-center {
      text-align: center;
      display: block;
    }

    &.is-right {
      text-align: right;
      display: block;
    }

    &.is-left {
      text-align: left;
      display: block;
    }
  }
}

.xdh-form-item {
  &.is-block {
    display: block;
  }

  &.is-custom-width {
    width: auto !important;
  }

  .el-select, .el-input, .el-cascader, .el-input-number, .el-slider, .el-rate {
    width: 100%;
    display: inline-block;
    min-width: 100px;
  }
}

.xdh-form-divider {
  position: relative;
  margin-right: 10px;
}

.xdh-form-upload {
  line-height: 1.5em;
  clear: both;

  &__tip {
    color: $--color-text-secondary;
    margin-top: 7px;
  }

  .el-upload {
    margin-right: 10px;
  }
}

.xdh-form-range {
  clear: both;

  &__separator {
    display: inline-block;
    text-align: center;
  }
}

.xdh-form-item {
  .xdh-form-range {
    &__min, &__max {
      display: inline-block;
      width: calc(50% - 12px);
      min-width: 45px;
    }
  }
}
